# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
build/

# Generated content
/books/

# Logs
logs/
*.log

# Environment variables
.env
.env.*

# Editor directories
.idea/
.vscode/

# System Files
.DS_Store
Thumbs.db